{include file="public/head"}
<script type="text/javascript">

    function del(id) {
        layer.confirm('确定要删除吗？',  function(){
            window.location.href="/admin/Demo/del?id="+id;
        });
    }
</script>
<div id="dcMain"><!-- 当前位置 -->
    <div id="urHere">管理中心<b>></b><strong>Demo</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>
      <!-- <a href="/admin/Demo/add"  class="actionBtn">添加</a> -->
        日报
    </h3>
    <div class="filter">
        <form action="/admin/Daily/choice" method="get">
            <select name="cat_id" required>
                <option value="">请选择</option>
                <option value="1" <?php if($cat_id==1)echo "selected";?>>17:30-23:00</option>
                <option value="2" <?php if($cat_id==2)echo "selected";?>>23:00-次日10:00</option>
                <option value="3" <?php if($cat_id==3)echo "selected";?>>次日10:00-17:30</option>
            </select>
<!--          <input name="keyword" type="text" class="inpMain" value="" size="20" /> -->
         <input name="submit" class="btnGray" type="submit" value="筛选" />
        </form>
        <span>
            <a class="btnGray" href="/admin/Daily/exportChoice?cat_id={$cat_id}">导出</a>
  
        </span>
    </div>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th align="center">序号</th>
                <th align="center">工号</th>
                <th align="center">姓名</th>
                <th align="center">部门</th>
                <th align="center">次数</th>
<!--                 <th align="center">操作</th> -->
            </tr>
            <?php $id=1;?>
            {volist name='lists' id='list'}
            <tr>
                <td align="center">{$id}</td>
                <td align="center">{$list['number']}</td>
                <td align="center">{$list['realname']}</td>
                <td align="center">{$list['depart']}</td>
                <td align="center">{$list['count(*)']}</td>
<!--                 <td align="center">
                  <a href="{:url('Daily/edit')}?id={$list['number']}">查看详情</a>
                </td> -->
            </tr>
            <?php $id++;?>
            {/volist}
         </table>

    </div>
</div>
<script>
    $(".submit").click(function(){
        $("#import").submit();
    })
</script>
{include file="public/foot"}
